@{
    int x = 1;

}
@model List<Department>
<a class="btn btn-outline-info mb-2" asp-action="Create">
    <i class="bi bi-building-fill-add"></i>
    Add New Department
    </a>
@* @if (Context.Session.GetInt32("UserId") is not null)
{
    <a class="btn btn-primary" href="/Post/Add">Add New Post</a>
} *@
@if (TempData["Alert"] is not null)
{
    <div class="alert alert-success">
        <strong>Success! </strong>@TempData["Alert"]
    </div>
}
<table class="table table-hover table-striped">
    <thead class="table-light">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Title</th>
            <th>Head</th>
            <th>Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Department department in Model)
        {
            <tr>
                <th>@(x++)</th>
                <td>@department.Name</td>
                <td>@department.Title</td>
                <td>@department.Head</td>
                <td>
                    <a href="/Department/Edit/@department.ID"><i class="bi bi-pencil-fill link-success me-2 "></i></a>
                    <a href="/Department/Delete/@department.ID"><i class="bi bi-trash3-fill link-danger me-2"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@* <a href="/User/showCookies" class="btn btn-outline-success">Cookies</a> *@
<!--<a href="/Post/Details/Context.Session.GetInt32("UserId")" class="btn btn-outline-success" >Posts</a>-->