@model EditedUserVM
@{
    bool student = (Model.Role == 1) ? true : false;
}
<form action="/User/Edit" method="post">
    <div class="hidden">
        <label asp-for="ID" class="visually-hidden"></label>
        <div class="visually-hidden">
            <input asp-for="ID" class="form-control" value="@Model.ID">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="FName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input asp-for="FName" class="form-control" value="@Model.FName">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="LName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input asp-for="LName" class="form-control" value="@Model.LName">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="DateOfBirth" class="col-sm-2 col-form-label">Birth Date</label>
        <div class="col-sm-10">
            <input asp-for="DateOfBirth" class="form-control" value="@Model.DateOfBirth">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="City" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="City" class="form-control" value="@Model.City">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Street" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Street" class="form-control" value="@Model.Street">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Phone" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Phone" class="form-control" value="@Model.Phone">
        </div>
    </div>
    @if (student)
    {
        <div class="mb-3 row">
            <label asp-for="Year" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select class="form-select" asp-for="Year" >
                    <option value="1">First Year</option>
                    <option value="2">Seconed Year</option>
                    <option value="3">Third Year</option>
                    <option value="4">Fourth Year</option>
                </select>
            </div>

        </div>
        <div class="mb-3 row">
            <label asp-for="Semester" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select class="form-select" asp-for="Semester">
                    <option value="1">First</option>
                    <option value="2">Seconed</option>
                </select>
            </div>
        </div>
    }
    <div class="col-12">
        <label asp-for="Gender" class="col-sm-2 col-form-label">Gender</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="Gender" id="male" value="Male">
            <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="Gender" id="female" value="Female">
            <label class="form-check-label" for="female">Female</label>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary">Edit</button>
</form>
