@{
}
@model CourseVM
<form asp-action="Edit" method="post">
    <div class="hidden">
        <label asp-for="ID" class="visually-hidden"></label>
        <div class="visually-hidden">
            <input asp-for="ID" class="form-control" value="@Model.ID">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" value="@Model.Name">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Description" class="form-control" value="@Model.Description">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Hours" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Hours" class="form-control" value="@Model.Hours">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Year" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Year" class="form-control" value="@Model.Year">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Semester" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Semester" class="form-control" value="@Model.Semester">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="InstructorID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select class="form-select" asp-for="InstructorID">
                @foreach (User Instructor in Model.instructors)
                {
                    <option value="@Instructor.ID">@Instructor.Name (@Instructor.Department.Title)</option>
                }
            </select>
        </div>
    </div>
    <div class="col-12">
        <label asp-for="DepartmentID" class="col-sm-2 col-form-label">Department</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="DepartmentID" id="CS" value="2" checked>
            <label class="form-check-label" for="CS">Computer Science</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="DepartmentID" id="AI" value="3">
            <label class="form-check-label" for="AI">Artificial Intelligence</label>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary">Edit</button>
</form>
